body,
html {
    margin: -10;
    padding: -10;
    background-image: url(../image/background-2.png);
    background-repeat: no-repeat;
    background-size: 100vmax;
    font-family: 'Montserrat', sans-serif;
    // background-position-x: center;
    // background-position-y: top;
    background-color: #CAF1E9;
    scroll-behavior: smooth;
    position: relative;
}

.sticky-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav-item {
    margin-left: 1em;

    .nav-link {
        text-transform: capitalize;
        display: block;
        position: relative;
        font-weight: 400;
        font-size: 15px;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #696969;
            transition: width .3s ease 0s, left .3s ease 0s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }
    }

}

.bg-grey {
    background-color: #CAE5F0;
}

.active {
    font-weight: 500;
    border-top: 2px solid #696969;
    display: block;
}

header {
    margin-top: 200px;
}

.judul {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

.opening {
    text-align: justify;
}

.btn-selengkapnya {
    background-color: #CAE5F0;
    color: #222;
    border-radius: 50px;
    padding: 10px 20px;

    &:hover {
        background-color: #afd7e7;
        color: #222;
    }
}

.section-stat {
    margin-top: 210px;
    background: rgba(115, 182, 226, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;

    .stat-detail {
        padding-top: 15px;
        // background-color: #73b6e2;
        // padding-left: 80px;
    }

    h2 {
        font-weight: 500;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.parallax {
    background-image: url("../image/parallax.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-pencegahan,
.section-perawatan,
.detail-gejala {
    margin-top: 100px;
}



.section-footer {
    background-color: white;

    a {
        color: #202020;
        // text-decoration: none;
    }
}

.kartu {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.perawatan-class,
.gejala-class,
.pencegahan-class {
    font-weight: 400;
    font-size: 15px;
}